<!doctype html>
<html lang="en">

<h2>This is students page</h2>

<ul>
  <li *ngFor="let student of students">
    <table style="width:100%">
      <tr>
        <th>id</th>
        <th>name</th>
      </tr>
      <tr>
        <td>{{student.studentId}}</td>
        <td>{{student.fullName}}</td>
      </tr>
    </table>
  </li>
</ul>

<nav>
  <a routerLink="/admin/addStudent">Add student</a>
  <a routerLink="/admin/removeStudent">Remove student</a>
</nav>

<button (click)="goBack()">Back</button>

