<!doctype html>
<html lang="en">

<h2>This is faculties page</h2>

<ul>
  <li *ngFor="let faculty of faculties">
    <table style="width:100%">
      <tr>
        <th>id</th>
        <th>name</th>
      </tr>
      <tr>
        <td>{{faculty.facultyId}}</td>
        <td>{{faculty.facultyName}}</td>
      </tr>
    </table>
  </li>
</ul>

<nav>
  <a routerLink="/admin/addFaculty">Add faculty</a>
  <a routerLink="/admin/removeFaculty">Remove faculty</a>
</nav>

<button (click)="goBack()">Back</button>
