<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="assessment" class="JpaApplication.entity.Assessment"/>
    <bean id="faculty" class="JpaApplication.entity.Faculty"/>
    <bean id="student" class="JpaApplication.entity.Student"/>
    <bean id="subject" class="JpaApplication.entity.Subject"/>

</beans>